/* Styles for max-width: 768px */
.hero-title {
    min-height: 4em;
    /* set minimum height to 2 lines on mobile devices */
}

.navbar {
    padding: 0 25px;
    height: 70px;
}

.hamburger-menu {
    display: flex;
}

.nav-links {
    display: none;
}

.content-wrapper {
    padding: 110px 40px;
}

.hero {
    padding: 0;
    max-width: 100%;
}

.hero-name,
.hero-title {
    font-size: 40px;
}

.container {
    padding: 0 40px;
}

.page {
    padding: 60px 40px;
    margin-top: 70px;
}

.hero-bio {
    line-height: 1.5;
}