name: Build and deploy docs

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write   # serve per fare commit su main

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # necessario per i commit

      - name: Run build script
        shell: pwsh
        run: ./build.ps1

      - name: Commit updated docs
        shell: pwsh
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add docs/
          if (git diff --cached --quiet) {
            echo "No changes to commit."
          } else {
            git commit -m "Update docs via CI"
            git push
          }
